@import "../../.cache/wal/colors-waybar.css";

* {
  font-family: "Hack Nerd Font Mono", Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
  opacity: 0.95;
  border: 10px none;
  background: transparent;
  color: @theme_text_color;
}

window {
  background: @background;
}

button * {
  color: @color1;
}

.focused * {
  color: @color2; 
}
