@import "../../.cache/wal/colors-waybar.css";

* {
  font-family: "Hack Nerd Font Mono", Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
  border-style: none;
  background: transparent;
  color: @theme_text_color;
}

window {
  opacity: 0.95;
  background: @background;
  border-radius: 10px;
}

.modules-left,
.modules-center,
.modules-right {
  margin: 0px 10px;
}

button * {
  color: @color2;
}

.focused {
  color: @color3;
}
